.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd; /* opcional */
  width: 100%;
  margin-left: 40px;
}

.title {
  justify-self: center;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.nav {
  justify-self: end;
  display: flex;
  gap: 1rem;
  margin-right: 40px;
}

.active {
  color: gray; /* más tenue */
  text-decoration: underline;
  font-weight: 600;
}

.inactive {
  color: black; /* color principal */
  text-decoration: none;
}
